/* Module.scss */

header[role="banner"] {
    background: url('../img/Name%20logo.png') left center no-repeat;
    background-size: banner;
    height: 25vh;
    text-align: center;
    width: 100vw;
}

nav[role="navigation"] {
    position: absolute;
    right: 10px;
    top: 10px;
}

.main-about-text {
    column-count: 2; 
    column-gap: 20px;
}

.main-about-text p:first-of-type {
    margin-top: auto;
}

.main-about-text p:last-of-type {
    margin-bottom: auto;
}

.main-portraits img {
    margin-left: auto;
    margin-right: auto; 
    
}

.main {
    background-color: #ecdede;
    color: #fff;
    
}

footer[role="banner"] {
    background: url('../img/Name%20logo.png') left center no-repeat;
    background-size: banner;
    height: 25vh;
    text-align: center;
    width: 100vw;
}

